body {
    background-color: #f7f9fb; /* light grey background */
    margin: 0;
    padding: 0;
}

h1 { 
    color: #000000; /* text color */ 
    font-size: 40px; /* size */ 
    text-align: center; /* center horizontally */ 
    font-family: Arial, sans-serif; /* font */ 
    text-decoration: none; 
    padding: 10px 10px; 
    margin: 0;
    background-color: #9cc7e8;
}

h2 { 
    text-align: center;
    font-family: 'Georgia', serif; 
    color: #333333;
    font-size: 30px;
}

p ,ul, ol {
    text-align: center;
    font-size: 20px;
}

.top-nav { 
    background: #0f1e2d; 
    padding: 12px; } 
    
.top-nav a { 
    color: white; 
    margin-right: 15px; 
    text-decoration: none; }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* auto-fit for flexible centering */
  gap: 10px;
  padding: 20px;       /* center the gallery container itself */
}


.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.gallery img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

table {
    border-collapse: collapse;
  margin: 20px auto;          /* Center table (optional) */
}

th, td {
  border: 2px solid #000000; /* Adjust thickness and color here */
  padding: 10px 200px;
  text-align: left;
  font-size: 22px;
  background-color: #f2f2f2;
}

a {
  font-size: 28px;
}

a.go {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #9CC6DB;
  transition: all 0.3s;
}

button {
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #9CC6DB;
  color: black;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover ,a.go:hover {
  background-color: #889dad;
  color: rgb(255, 255, 255);
}

.box {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  border: 2px solid #333;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.message-box {
  width: 40%;
  height: 60px;      /* makes it taller */
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 10px;
  resize: vertical;  /* user can resize up/down */
}
